{% extends "templates/index.html" %}
{% block content %}

<div class="main-content">
    <div class="header">
        <h2>Transfers Overview</h2>
        <button
            class="btn btn-primary"
            onclick="this.innerText='Loading...'; location.reload();"
        >
            Refresh
        </button>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transfers</li>
        </ol>
    </nav>

    <!-- Transfers Table -->
    <div class="card bg-white shadow-lg">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Property</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for transfer in transfers %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ transfer.land_property.name }}</td>
                    <td>{{ transfer.current_owner.username }}</td>
                    <td>{{ transfer.new_owner.username }}</td>
                    <td>{{ transfer.request_date }}</td>
                    <td>
                        {% if transfer.status == 1 %}
                            <span class="badge bg-warning">Pending</span>
                        {% elif transfer.status == 2 %}
                            <span class="badge bg-success">Successful</span>
                        {% else %}
                            <span class="badge bg-danger">Unknown</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
